* * * * * root /bin/sh /scripts/hello-world.sh >> /var/log/cron-stdout.log 2>&1
00 01 * * * root /bin/sh /scripts/mongodb-to-s3.sh >> /var/log/cron-stdout.log 2>&1
00 00 * * * root /bin/sh /scripts/postgres-to-s3.sh >> /var/log/cron-stdout.log 2>&1
00 00 * * * root /bin/sh /scripts/mariadb-to-s3.sh >> /var/log/cron-stdout.log 2>&1
